{# Form Row #}
{%- block form_row -%}
	<div class="form-group">
		{% if input  %}
			{{block('label')}}
			{{block('input_type')}}
		{% else %}
			{{block('label')}}
			{{block(type)}}
		{% endif -%}	
    </div>
{% endblock -%}

{# Show Field#}
{% block show_field %}

{% endblock %}

{# Label #}
{%- block label -%}
	{%- if type not in ['submit'] -%}
	<label for="{{name}}">{{label}}</label>
	{%- endif -%}
{%- endblock -%}

{# Input Type#}
{%- block input_type -%}
 	{%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
	<input type="{{type}}" name="{{name}}" {{block('addAttr')}} {% if value is not empty %}value="{{value}}"{% endif %}/>
{%- endblock -%}

{%- block textarea -%}
    <textarea name="{{name}}" class="form-control">{{value}}</textarea>
{%- endblock -%}

{%- block submit -%}
    <input type="submit" name="{{name}}" value="{{label}}" />
{%- endblock -%}

{%- block addAttr -%}
    {%- for key, value in attr -%}
        {{- key}}="{{value}}"{{" "}}
    {%- endfor -%}
{%- endblock -%}

