{% block form_row %}
	<div class="form-group">
		{{block("label")}}
		{{block("input_type")}}		
	</div>
{% endblock %}

{% block input_type %}
    <input type="{{type}}" name="{{name}}" class="form-control">
{% endblock %}

{% block label %}
    <label for="{{name}}">{{label}}</label>
{% endblock %}

