{% extends '::base.html.twig' %}

{% block body %}
<div class="container">
	<div class="row">
		
		<form action="" method="POST">
			
		{{form_row(form.razao_social)}}
		{{form_row(form.contato)}}
		{{form_row(form.cep)}}
		{{form_row(form.descricao)}}
		{{form_row(form.save)}}
		</form>
	</div>
</div>

{% endblock %}


